@media screen and (max-width: 420px) {
  .registerCard {
    height: 100vh !important;
    margin-top: 50px !important;
  }
}

body {
  height: 100vh;
}

.registerCard {
  margin-top: 110px;
  margin-bottom: 50px;
  box-shadow: none !important;
}

.registerCard-title {
  font-family: on9jai2;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.registerButton {
  display: block;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: 0.8rem;
}

.registerButton:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3s;
  transition: ease-in;
  -webkit-transition: ease-in;
  -moz-transition: ease-in;
  -ms-transition: ease-in;
  -o-transition: ease-in;
  -webkit-animation: fadeIn 3s;
}
