.wrapper {
  display: flex;
  justify-content: space-between;

  .content {
    flex: 1;
    font-size: 14px;
    color: rgb(100, 98, 98);
    line-height: 1.5;
    max-width: 500px;
  }

  span {
    background: white;
  }
}
