.loginCard {
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: none !important;
}

.loginCard-title {
  font-family: on9jai2;
  padding-bottom: 20px;
}

.loginButton {
  display: block;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px 10px 20px;
}

.loginButton:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}
