@media screen and (max-width: 420px) {
  .card {
    flex: 1 !important ;
    width: 70vw !important;
    height: 100vh;
    margin-left: -4.3rem;

    .image {
      span {
        position: absolute;
        top: 0.5rem !important;
        left: 0.5rem !important;
      }
    }
  }
}

.normal-text {
  color: black;
  text-decoration: none;
}

.price-original-text {
  font-size: 12px;
}

.card {
  width: 280px;
  gap: 10px;
  margin-bottom: 50px;

  .image {
    height: 400px;
    overflow: hidden; // only showing one image here
    position: relative;

    &:hover {
      .secondImg {
        z-index: 2;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .mainImg {
      z-index: 1;
    }

    span {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #000000;
      background-color: #ffffff;
      padding: 3px 5px;
      z-index: 3;
      font-weight: 500;
      font-size: 11px;
    }
  }

  h2 {
    font-size: 13px;
    font-weight: 400;
  }

  .prices {
    display: flex;
    gap: 20px;
  }
}
