@media screen and (max-width: 720px) {
  .product {
    flex-direction: column !important;

    .left {
      width: 72vw !important;
      gap: 1rem !important;

      .images {
        // flex: 1 !important;
        img {
          height: 5rem !important ;
          object-fit: cover !important;
        }
      }
      .mainImg {
        flex: 3 !important;
      }
    }

    .right {
      width: 70vw !important;

      .add {
        width: 100% !important;
      }

      .wishlist {
        width: 100% !important;
      }
    }
  }
}

.product {
  padding: 50px 50px;
  display: flex;
  gap: 50px;

  .left {
    flex: 1;
    display: flex;
    gap: 20px;
    .images {
      flex: 1;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }
    .mainImg {
      flex: 5;

      img {
        width: 100%;
        max-height: 800px;
        object-fit: contain;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .product-title {
      text-transform: uppercase;
      font-size: 20px;
    }

    .price {
      font-size: 20px;
      font-weight: 500;
    }

    p {
      font-size: 12px;
      font-weight: 300;
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
      }
    }

    .add {
      width: 200px;
      padding: 10px;
      background-color: #000000;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid black;
    }

    .add:hover {
      background-color: #ffffff;
      color: #000000;
      border: 1px solid black;
      transition: 0.3s;
    }

    .wishlist {
      width: 200px;
      padding: 10px;
      background-color: #ffffff;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-top: -15px;
      border: 1px solid black;
    }

    .wishlist:hover {
      background-color: #000000;
      color: #ffffff;
      transition: 0.3s;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(100, 99, 99);
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 50px;

    hr {
      border: 0.5px solid #000000;
    }
  }

  hr {
    border: 0.5px solid #000000;
  }
}
