@media screen and (max-width: 720px) {
  .featuredProducts {
    margin: 5rem 2rem !important;
    width: 100vw !important;
    height: 200vh !important;

    .top {
      margin-left: 0.2rem !important;
      padding-right: 1.6rem !important;
    }

    h1 {
      flex: 1 !important;
      letter-spacing: -0.1rem;
    }

    p {
      flex: 1 !important;
    }

    .bottom {
      flex-direction: column !important;
      height: 50vh !important;
      margin-top: 35rem;
      position: relative !important;
      left: 25% !important;
      .card-container {
        height: 100% !important;
      }

      span {
        position: absolute;
        top: 0%;
        left: -6%;
      }
    }
  }
}

.featuredProducts {
  height: 100vh;
  margin: 100px 200px;

  .top {
    display: flex;
    align-content: start;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;

    h1 {
      flex: 2;
      text-transform: capitalize;
      font-family: on9jai2, sans-serif;
      font-size: 30px;
    }

    p {
      flex: 3;
      color: #808080;
      font-size: 15px;
      padding-top: 50px;
    }
  }
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 50px;

  .errMessage {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 3rem;
    font-weight: 700;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

// loading spinner
@media screen and (max-width: 720px) {
  .lds-ring div {
    margin-top: -600px !important;
    margin-left: 45px !important;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  margin-top: 96px;
  border: 6px solid #f1f0f0;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f1f0f0 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
