@media screen and (max-width: 420px) {
  .products {
    flex-direction: column;

    h1 {
      font-size: 17px !important;
      font-weight: 700 !important;
    }

    h2 {
      padding-top: 2rem !important;
      font-size: 14px !important;
    }
  }
}

.products {
  height: 100vh;
  padding: 30px 50px;
  display: flex;

  .left {
    flex: 1;
    height: 100%;
    top: 50px;

    .filterItem {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 30px;

      h1,
      h2 {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .inputItem {
        margin-bottom: 10px;
        label {
          margin-left: 10px;
          font-size: 12px !important;
        }
      }
    }
    .right {
      flex: 1;
    }
  }
}
