@media screen and (max-width: 1124px) {
  #shop-name {
    font-size: 1.8rem !important;
    padding-left: 6.3rem !important;
    padding-right: 6.3rem !important;
  }

  .muiIcons {
    margin-left: 0rem !important;
  }

  .link {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 1024px) {
  #shop-name {
    font-size: 1.5rem !important;
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
  }

  .muiIcons {
    margin-left: 0rem !important;
  }

  .link {
    font-size: 0.8rem !important;
  }
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 10px 30px;
  margin-top: 0.3rem;
  font-family: "on9jai";
  font-size: 11.5px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.1px;
}

#shop-name {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 20.7rem;
  padding-right: 17.8rem;
}

.navigation-menu {
  margin-left: 1.8rem;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  align-items: center;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 0.8rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    z-index: 1;
    display: none;
    -webkit-box-shadow: 0px 23px 24px 0px rgba(245, 245, 245, 1);
    -moz-box-shadow: 0px 23px 24px 0px rgba(245, 245, 245, 1);
    box-shadow: 0px 23px 24px 0px rgba(245, 245, 245, 1);
  }

  .navigation-menu li {
    text-align: center;
    position: relative;
    top: 10%;
    margin: 0.5rem !important;
    margin-left: -3.2rem !important;

    .localeImg {
      display: none;
    }

    .localeImgM {
      display: block !important;
      margin-top: 3rem !important;
      margin-left: 0rem !important;
    }

    #shop-name {
      display: none;
    }

    .story {
      margin-left: 0rem !important;
    }

    .icons {
      margin-left: 0rem !important;
    }

    .cartIcon {
      display: none !important;
      .muiIcons {
        display: none;
      }
    }

    .cartText {
      display: block !important;
    }

    .sale {
      margin-left: 0rem !important;
    }

    .un {
      display: inline !important;
      background-position: 0 83% !important;
    }
  }

  .navigation-menu li a {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.5rem !important;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}

.link {
  font-size: 0.72rem;
}

.link:hover {
  text-decoration: none;
  color: #000000;
}

.link:visited {
  text-decoration: none;
  color: #000000;
}

// Links underline animation

.un {
  display: inline-block;
  padding-bottom: 1px;
  background-image: linear-gradient(#575656 0 0);
  background-position: 0 100%;
  background-size: 0% 0.5px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

.un:hover {
  background-position: 100% 100%;
  background-size: 100% 1px;
  text-decoration: none;
  color: #000000;
}

.un:visited {
  text-decoration: none;
  color: #000000;
}

.icons a:visited {
  color: #000;
}

.sale {
  margin-left: -1.5rem;
}

.localeImg {
  height: 18px;
  margin-top: 1px;
  cursor: pointer;
}

.localeImgM {
  display: none !important;
}

.shop-nameM {
  display: none !important;
}

.story {
  margin-left: -1rem;
}

.icons {
  display: flex;
  font-size: 12px;
  color: #413f3f;
  cursor: pointer;
  margin-left: 0.9rem;

  .muiIcons {
    font-size: 16px;
    align-content: center;
    justify-content: center;
    margin-left: 0.3rem;
    margin-top: 0.1rem;
  }

  .cartIcon {
    position: relative; // because children is position:absolute
    span {
      font-size: 8px;
      width: 12px;
      height: 12px;
      background-color: #000;
      color: #fff;
      position: absolute;
      right: -4px;
      top: -3px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}

.cartText {
  display: none !important;
}
